<h6 class="card-subtitle">
  <span>{{efc.descricao}}</span>
</h6>
<app-funil-etapa-pizza 
    [id]="'visitantes'"
    [titulo]="'Visitantes'"
    [buscaPaga]="efc.buscaPagaVisitantes"
    [direta]="efc.diretoVisitantes"
    [email]="efc.emailVisitantes"
    [referencia]="efc.referenciaVisitantes"
    [organica]="efc.organicoVisitantes"
    [buscaPagaCor]="buscaPagaCor" 
    [diretaCor]="diretaCor" 
    [emailCor]="emailCor" 
    [referenciaCor]="referenciaCor" 
    [organicaCor]="organicaCor"         
></app-funil-etapa-pizza>
<app-funil-etapa-pizza 
    [id]="'leads'"
    [titulo]="'Leads'"
    [buscaPaga]="efc.buscaPagaLeads"
    [direta]="efc.diretoLeads"
    [email]="efc.emailLeads"
    [referencia]="efc.referenciaLeads"
    [organica]="efc.organicoLeads"
    [buscaPagaCor]="buscaPagaCor" 
    [diretaCor]="diretaCor" 
    [emailCor]="emailCor" 
    [referenciaCor]="referenciaCor" 
    [organicaCor]="organicaCor"         
></app-funil-etapa-pizza>
<app-funil-etapa-pizza 
    [id]="'oportunidades'"
    [titulo]="'Oportunidades'"
    [buscaPaga]="efc.buscaPagaOportunidades"
    [direta]="efc.diretoOportunidades"
    [email]="efc.emailOportunidades"
    [referencia]="efc.referenciaOportunidades"
    [organica]="efc.organicoOportunidades"
    [buscaPagaCor]="buscaPagaCor" 
    [diretaCor]="diretaCor" 
    [emailCor]="emailCor" 
    [referenciaCor]="referenciaCor" 
    [organicaCor]="organicaCor"         
></app-funil-etapa-pizza>
<app-funil-etapa-pizza 
    [id]="'vendas'"
    [titulo]="'Vendas'"
    [buscaPaga]="efc.buscaPagaVendas"
    [direta]="efc.diretoVendas"
    [email]="efc.emailVendas"
    [referencia]="efc.referenciaVendas"
    [organica]="efc.organicoVendas"
    [buscaPagaCor]="buscaPagaCor" 
    [diretaCor]="diretaCor" 
    [emailCor]="emailCor" 
    [referenciaCor]="referenciaCor" 
    [organicaCor]="organicaCor"         
></app-funil-etapa-pizza>
