/* #adm-wrapperPrincipal{
    background-color: blue;
} */

#adm-cabecalho{
    /* background-color: yellow; */
    margin-bottom: 15px; 
}

#adm-titulo{
    /* background-color:red; */
    display:inline;
    margin-right: 10px;
}

#adm-menu{
    /* background-color:green; */
    display:inline;
}

