<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="table-responsive">
                    <a [routerLink]="['/usuarios/inserir']">Novo Usuário</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Senha</th>
                            <th>Cliente</th>                                                                                                        
                            <th></th>    
                        </tr>  
                        </thead>      
                        <tbody>
                        <tr *ngFor="let usuario of usuarios$ | async">
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.nome }}</td> 
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.senha }}</td>
                            <td>{{ usuario.clienteDescricao }}</td>                                                                                                       
                            <td><a [routerLink]="['/usuarios', usuario.id]">Editar</a></td>
                        </tr>
                        </tbody>      
                    </table>                          
                </div>
            </div>
        </div>
    </div>
</div>
