<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="table-responsive">
                    <a *ngIf="authService.ehAdm()" [routerLink]="['/eficacia-canais/novo']">Criar Relatório</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Descrição</th> 
                            <th colspan="2">Período</th>
                            <th></th>    
                        </tr>  
                        </thead>      
                        <tbody>
                        <tr *ngFor="let eficaciaCanalRelatorio of eficaciaCanalRelatorioLista$ | async">
                            <td>{{ eficaciaCanalRelatorio.clienteNomeFantasia }}</td>
                            <td>{{ eficaciaCanalRelatorio.descricao }}</td> 
                            <td>{{ eficaciaCanalRelatorio.dataInicial | date:  'dd/MM/yyyy' }}</td>
                            <td>{{ eficaciaCanalRelatorio.dataFinal | date:  'dd/MM/yyyy' }}</td>
                            <td><a [routerLink]="['/eficacia-canais/relatorio', eficaciaCanalRelatorio.id]">Ver Relatório</a></td>
                        </tr>
                        </tbody>      
                    </table>                          
                </div>
            </div>
        </div>
    </div>
</div>
