<!-- Row -->
<div class="row" *ngIf="!carregando; else loading">
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-block">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="form-horizontal form-material">
                    <div class="form-group">
                        <label for="id" class="col-md-12">Código</label>
                        <div class="col-md-12">
                            <input id="id" formControlName="id" type="text" class="form-control form-control-line" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-md-12">Nome</label>
                        <div class="col-md-12">
                            <input id="nome" formControlName="nome" type="text" class="form-control form-control-line" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input id="email" formControlName="email" type="text" class="form-control form-control-line" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="senha" class="col-md-12">Senha</label>
                        <div class="col-md-12">
                            <input id="senha" formControlName="senha" type="text" class="form-control form-control-line" required>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-12">Cliente</label>
                        <div class="col-sm-12">
                            <select  id="clienteID" formControlName="clienteID" class="form-control form-control-line" required>
                                <option [value]="c.id" *ngFor="let c of clientes">{{c.nomeFantasia}}</option>
                            </select>
                        </div>
                    </div>                                                                                                         
                    <div class="row justify-content-center">
                        <div class="col-1">
                            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Salvar</button>
                        </div>
                        <div class="col-2">
                            <button (click)="gotoUsuarios()" class="btn btn-success">Voltar</button>                                        
                        </div>
                    </div>                                                                            
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<ng-template #loading>Carregando...</ng-template>