<!-- Row -->
<div class="row" *ngIf="!carregando; else loading">
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-block">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="form-horizontal form-material">
                    <div class="form-group">
                        <label for="id" class="col-md-12">Código</label>
                        <div class="col-md-12">
                            <input id="id" formControlName="id" type="text" class="form-control form-control-line" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nomeFantasia" class="col-md-12">Nome Fantasia</label>
                        <div class="col-md-12">
                            <input id="nomeFantasia" formControlName="nomeFantasia" type="text" class="form-control form-control-line" required>
                        </div>
                    </div>                            
                    <div class="row justify-content-center" >
                        <div  class="col-1" >
                            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Salvar</button>
                        </div>
                        <div class="col-2" >
                            <button (click)="gotoClientes()" class="btn btn-success">Voltar</button>                                        
                        </div>                        

                    </div>                                                                            
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<ng-template #loading>Carregando...</ng-template>