            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
              <!-- ============================================================== -->
              <!-- Container fluid  -->
              <!-- ============================================================== -->
              <div class="container-fluid">
                  <!-- ============================================================== -->
                  <!-- Bread crumb and right sidebar toggle -->
                  <!-- ============================================================== -->
                  <div class="row page-titles">
                      <div class="col-md-5 col-8 align-self-center">
                          <h3 class="text-themecolor">Dashboard</h3>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                              <li class="breadcrumb-item active">Dashboard</li>
                          </ol>
                      </div>
                  </div>
                  <!-- ============================================================== -->
                  <!-- End Bread crumb and right sidebar toggle -->
                  <!-- ============================================================== -->
                  <!-- ============================================================== -->
                  <!-- Start Page Content -->
                  <!-- ============================================================== -->
                  <!-- Row -->
                  <div class="row">
                      <!-- Column -->
                      <div class="col-lg-10 col-md-7">
                          <div class="card">
                              <div class="card-block">
                                  <h3 class="card-title">Eficacia dos Canais</h3>
                                  <h6 class="card-subtitle">{{titulo}}</h6>
                                  <div id="visitantes" style="height:290px; width:50%;float: left;"></div>
                                  <div id="leads" style="height:290px; width:50%;float: left;"></div> 
                                  <div id="oportunidades" style="height:290px; width:50%;float: left;"></div>   
                                  <div id="vendas" style="height:290px; width:50%;float: left;"></div>                                                                                                            
                              </div>
                              <div>
                                  <hr class="m-t-0 m-b-0">
                              </div>
                              <div class="card-block text-center ">
                                  <ul class="list-inline m-b-0">
                                      <li><h6 style="color:#009e60"><i class="fa fa-circle font-10 m-r-10 "></i>Busca Paga</h6> </li>
                                      <li><h6 style="color:#745af2"><i class="fa fa-circle font-10 m-r-10"></i>Direta</h6> </li>
                                      <li><h6 style="color:#26c6da"><i class="fa fa-circle font-10 m-r-10"></i>Email</h6> </li>
                                      <li><h6 style="color:#7FFF00"><i class="fa fa-circle font-10 m-r-10"></i>Referência</h6> </li> 
                                      <li><h6 style="color: #bb3385"><i class="fa fa-circle font-10 m-r-10"></i>Orgânica</h6> </li>                                                                              
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ============================================================== -->
                  <!-- End PAge Content -->
                  <!-- ============================================================== -->
              </div>
              <!-- ============================================================== -->
              <!-- End Container fluid  -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- footer -->
              <!-- ============================================================== -->
              <footer class="footer"> © 2019 Innovativo </footer>
              <!-- ============================================================== -->
              <!-- End footer -->
              <!-- ============================================================== -->
          </div>
          <!-- ============================================================== -->
          <!-- End Page wrapper  -->
          <!-- ============================================================== -->

