<!-- Row -->
<div class="row" *ngIf="!carregando; else loading">
    <!-- Column -->
    <div class="col-lg-10 col-md-7">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Eficacia dos Canais</h3>
                <h6 *ngIf="!efc" class="card-subtitle">
                    <span >Nenhum Relatório Disponível</span>                    
                </h6>
                <app-eficacia-canais-pizza *ngIf="efc"
                    [efc]="efc"
                    [buscaPagaCor]="buscaPagaCor" 
                    [diretaCor]="diretaCor" 
                    [emailCor]="emailCor" 
                    [referenciaCor]="referenciaCor" 
                    [organicaCor]="organicaCor"                                                                                 
                >
            </app-eficacia-canais-pizza>
            </div>
            <div>
                <hr class="m-t-0 m-b-0">
            </div>
            <div class="card-block text-center ">
                <ul class="list-inline m-b-0">
                    <li><h6 [ngStyle]="{'color': buscaPagaCor}"><i class="fa fa-circle font-10 m-r-10 "></i>Busca Paga</h6> </li>
                    <li><h6 [ngStyle]="{'color': diretaCor}"><i class="fa fa-circle font-10 m-r-10"></i>Direta</h6> </li>
                    <li><h6 [ngStyle]="{'color': emailCor}"><i class="fa fa-circle font-10 m-r-10"></i>Email</h6> </li>
                    <li><h6 [ngStyle]="{'color': referenciaCor}"><i class="fa fa-circle font-10 m-r-10"></i>Referência</h6> </li> 
                    <li><h6 [ngStyle]="{'color': organicaCor}"><i class="fa fa-circle font-10 m-r-10"></i>Orgânica</h6> </li>                                                                              
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>Carregando...</ng-template>